<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, "Förnamn:", class: "control-label" %>
    <%= text_input f, :first_name, class: "form-control" %>
    <%= error_tag f, :first_name %>
  </div>

  <div class="form-group">
    <%= label f, "Fullständigt namn:", class: "control-label" %>
    <%= text_input f, :full_name, class: "form-control" %>
    <%= error_tag f, :full_name %>
  </div>


  <%= inputs_for f, :credential, fn cf -> %>
    <div class="form-group">
      <%= label cf, "Epost-address:", class: "control-label" %>
      <%= email_input cf, :email, class: "form-control" %>
      <%= error_tag cf, :email %>
      <small class="form-text text-muted">Din epost används när du loggar in. Vi delar inte din address vidare till någon annan.</small>
    </div>

    <div class="form-group">
      <%= label cf, "Lösenord:", class: "control-label" %>
      <%= password_input cf, :password, class: "form-control" %>
      <%= error_tag cf, :password %>
    </div>
  <% end %>

  <div class="form-group">
    <%= submit "Skapa konto", class: "btn btn-primary" %>
  </div>
<% end %>
