<li>

<%= @sprout.owner_botanist.user.full_name %>

<%= if !!@sprout.sprouts and (@sprout.sprouts != []) do %>

  <ul>
    <%= for sprout <- @sprout.sprouts do %>
    <%= render "children.html", sprout: sprout %>
    <% end %>
  </ul>

<% end %>
</li>
