<h2>Ändra "<%= sprout_title(@sprout) %>"</h2>

<%= render "form.html", Map.put(assigns, :action, pms_sprout_path(@conn, :update, @sprout)) %>

<span><%= link "Back", to: pms_sprout_path(@conn, :index) %></span>
