<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, något gick fel! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, "Namn:", class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, "Typ:", class: "control-label" %>
    <div data-elm-component="PlantTypeAutoSuggest" data-plant-types="<%= plant_types_to_json(@plant_types) %>" data-selected-plant-type="<%= plant_type_to_json(Ecto.Changeset.get_field(@changeset, :plant_type)) %>" />
    <%= error_tag f, :plant_type_id %>
  </div>

  <div class="form-group">
    <%= label f, "Beskrivning:", class: "control-label" %>
    <%= textarea f, :description, class: "form-control" %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-group">
    <%= submit "Spara", class: "btn btn-primary" %>
  </div>
<% end %>
