<h2>Mina växter</h2>

<div class="row">
<%= for sprout <- @sprouts do %>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= sprout_title(sprout) %></h5>
        <p class="card-text"><%= sprout.description %></p>
        <%= link "Visa", to:  pms_sprout_path(@conn, :show, sprout), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
</div>


<div class="row">
  <span><%= link "+ Lägg till ny växt", class: "btn btn-primary", to: pms_sprout_path(@conn, :new) %></span>
</div>
