<h2><%= sprout_title(@sprout) %></h2>

<p><%= @sprout.description %></p>

<%= if @sprout.parent_sprout do %>
<h3>Föräldrar:</h3>
<ul>
  <%= render "parents.html", sprout: @sprout.parent_sprout %>
</ul>
<% else %>
  <h5>Vet du vem du fick den här från?</h5>
  <p>
    Med knappen "Lägg till förälder" nedan så skapar du en länk och när mottagaren tar emot länken så kan hen koppla ihop sin växt med din.
  </p>
  <p>
    <%= link "Lägg till förälder", class: "btn btn-secondary", to: pms_sprout_sprout_invitation_path(@conn, :generate_parent, @sprout) %>
  </p>
<% end %>

<%= unless is_nil(@sprout.sprouts) or @sprout.sprouts == [] do %>
<h3>Du har gett bort sticklingar av <%= sprout_title(@sprout) %> till:</h3>
<ul>
  <%= for sprout <- @sprout.sprouts do %>
  <%= render "children.html", sprout: sprout %>
  <% end %>
</ul>
<% end %>

<span><%= link "Ge bort en stickling", to: pms_sprout_sprout_request_path(@conn, :new, @sprout), class: "btn btn-primary" %></span>
<span><%= link "Redigera", to: pms_sprout_path(@conn, :edit, @sprout), class: "btn btn-link" %></span>
<hr>
<span><%= link "Delete", to: pms_sprout_path(@conn, :delete, @sprout), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger" %></span>
