<h2>Show User</h2>

<ul>

  <li>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </li>

  <li>
    <strong>Full name:</strong>
    <%= @user.full_name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.credential.email %>
  </li>

</ul>

<span><%= link "Edit", to: pms_user_path(@conn, :edit, @user) %></span>
