@import "./custom.scss";

body {
  padding-top: 100px;
}

.greeting {
  border: 5px solid $pink;
  color: $pink;

  text-align: center;
  padding: 4em;
}

.help-block {
  color: $danger;
}

.is-selected {
  background-color: $primary;
  color: white;
}
