<h2>Edit Plant type</h2>

<%= render "form.html", Map.put(assigns, :action, admin_plant_type_path(@conn, :update, @plant_type)) %>

<span><%= link "Back", to: admin_plant_type_path(@conn, :index) %></span>
