<h2>Listing Plant types</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for plant_type <- @plant_types do %>
    <tr>
      <td><%= plant_type.name %></td>

      <td class="text-right">
        <span><%= link "Show", to: admin_plant_type_path(@conn, :show, plant_type), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: admin_plant_type_path(@conn, :edit, plant_type), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: admin_plant_type_path(@conn, :delete, plant_type), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Plant type", to: admin_plant_type_path(@conn, :new) %></span>
