<h2>Show Plant type</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @plant_type.name %>
  </li>

</ul>

<span><%= link "Edit", to: admin_plant_type_path(@conn, :edit, @plant_type) %></span>
<span><%= link "Back", to: admin_plant_type_path(@conn, :index) %></span>
