
<%= if @maybe_user == nil do %>
<h2>Logga in</h2>

<%= form_for @conn, session_path(@conn, :create), [method: :post, as: :user], fn f -> %>
  <div class="form-group">
    <%= label f, "Epost-address:", class: "control-label" %>
    <%= email_input f, :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label f, "Lösenord:", class: "control-label" %>
    <%= password_input f, :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Logga in", class: "btn btn-primary" %>
  </div>
<% end %>

<% else %>

<h2>Du är redan inloggad</h2>

<p>Vill du logga ut?</p>

<%= form_for @conn, session_path(@conn, :delete), [method: :delete, as: :user], fn _ -> %>
  <div class="form-group">
    <%= submit "Logga ut", class: "btn btn-primary" %>
  </div>
<% end %>

<% end %>
