<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sticklingsträdet</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
          <a class="navbar-brand" href="/">Sticklingsträdet</a>
          <%= if @maybe_user == nil do %>
            <%= link "Logga in", class: "nav-item", to: session_path(@conn, :new) %>
            <%= link "Skapa konto", class: "nav-item", to: user_path(@conn, :new) %>
          <% else %>
            <span class="nav-item"><%= @maybe_user.credential.email %></span>
            <%= link "Mina växter", class: "nav-item", to: pms_sprout_path(@conn, :index) %>
            <%= link "Logga ut", class: "nav-item", to: session_path(@conn, :delete), method: "delete", as: :user %></li>
          <% end %>
        </nav>
      </header>

      <%= unless is_nil(get_flash(@conn, :info)) do %>
        <p class="alert alert-success" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= unless is_nil(get_flash(@conn, :error)) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
