<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, "Till:", class: "control-label" %>
    <%= select f, :receiver_botanist_id, Enum.map(@botanists, &{&1.user.full_name, &1.id}) %>
    <%= error_tag f, :receiver_botanist_id %>
    <mark class="form-text text-muted">Vill du skicka sticklingen till någon som saknar konto? <%= link "Klicka här för att skicka hen en kod.", to: pms_sprout_sprout_invitation_path(@conn, :generate, @sprout) %></mark>
  </div>

  <div class="form-group">
    <%= label f, "Meddelande:", class: "control-label" %>
    <%= text_input f, :message, class: "form-control" %>
    <%= error_tag f, :message %>
  </div>

  <div class="form-group">
    <%= submit "Skicka ny stickling" %>
  </div>
<% end %>
