<h2>Nya sticklingar till dig</h2>

<table class="table">
  <thead>
    <tr>

      <th>Avsändare</th>
      <th>Typ</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
<%= for sprout_request <- @sprout_requests do %>
    <tr>
      <td><%= sprout_request.sender_botanist.user.full_name %></td>
      <td><%= sprout_request.parent_sprout.plant_type.name %></td>
      <td><%= sprout_request.status %></td>

      <td class="text-right">
        <%= form_for @conn, pms_sprout_request_path(@conn, :update, sprout_request), [method: :put, as: :sprout_request], fn f -> %>

          <%= hidden_input f, :status, value: :accepted %>

          <div class="form-group">
            <%= submit "Lägg till bland Mina växter" %>
          </div>
        <% end %>

        <%= form_for @conn, pms_sprout_request_path(@conn, :update, sprout_request), [method: :put, as: :sprout_request], fn f -> %>

          <%= hidden_input f, :status, value: :declined %>

          <div class="form-group">
            <%= submit "Neka" %>
          </div>
        <% end %>

      </td>
    </tr>
<% end %>
  </tbody>
</table>
