<h2>Skicka en stickling av <%= @sprout.plant_type.name %></h2>

<%= render "form.html", Map.put(assigns, :action, pms_sprout_sprout_request_path(@conn, :create, @sprout)) %>

<span><%= link "Back", to: pms_sprout_path(@conn, :index) %></span>
