<h2>Show Sprout</h2>

<ul>
  <li>
    <strong>Plant type:</strong>
    <%= @sprout.plant_type.name %>
  </li>


</ul>

<%= form_for @conn, pms_sprout_sprout_request_path(@conn, :create, @sprout), fn f -> %>

  <div class="form-group">
    <%= label f, :receiver_botanist, class: "control-label" %>
    <%= select f, :receiver_botanist, Enum.map(@botanists, &{&1.user.full_name, &1.id}) %>
    <%= error_tag f, :receiver_botanist %>
  </div>

  <div class="form-group">
    <%= label f, :message, class: "control-label" %>
    <%= text_input f, :message, class: "form-control" %>
    <%= error_tag f, :message %>
  </div>

  <div class="form-group">
    <%= submit "Skapa stickling" %>
  </div>
<% end %>


<span><%= link "Edit", to: pms_sprout_path(@conn, :edit, @sprout) %></span>
<span><%= link "Back", to: pms_sprout_path(@conn, :index) %></span>
