<h2>Listing Sprout invitations</h2>

<table class="table">
  <thead>
    <tr>
      <th>Verification code</th>
      <th>New sprout type</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for sprout_invitation <- @sprout_invitations do %>
    <tr>
      <td><%= sprout_invitation.verification_code %></td>
      <td><%= sprout_invitation.new_sprout_type %></td>

      <td class="text-right">
        <span><%= link "Show", to: pms_sprout_sprout_invitation_path(@conn, :show, @sprout, sprout_invitation), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: pms_sprout_sprout_invitation_path(@conn, :delete, @sprout, sprout_invitation), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
