
<%= if @sprout_invitation.sprout.owner_botanist.user.id == @maybe_user.id do %>

  <h2>Skicka denna länk</h2>
  <p>Kopiera länken och skicka den i ett mejl, sms, whatsapp eller någon annan app som ni använder. När mottagaren klickar på den här länken så kan hen lägga till sticklingen bland sina växter.</p>
  <input type="text" class="form-control" value="<%= pms_sprout_invitation_url(@conn, :show, @sprout_invitation.verification_code) %>" readonly />
  <br>
  <h3>Eller skapa en ny växt med den här koden</h3>
  <input type="text" class="form-control text-monospace" value="<%= @sprout_invitation.verification_code %>" readonly />

<% else %>

  <h2><%= sprout_invitation_title(@sprout_invitation) %></h2>

  <%= if @sprout_invitation.new_sprout_type == :is_child do %>
    <p>Vad vill du göra med den här nya sticklingen?</p>
    <%= form_for @conn, pms_sprout_invitation_path(@conn, :accept, @sprout_invitation), [method: :post], fn _ -> %>
      <div class="form-group">
        <%= submit "Lägg till som ny växt", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= form_for @conn, pms_sprout_invitation_path(@conn, :accept_to_existing_sprout, @sprout_invitation), [method: :post], fn f -> %>
      <div class="form-group">
        <%= label f, "Markera som förälder till befintlig växt:", class: "control-label" %>
        <%= select f, :existing_sprout_id, Enum.map(@existing_sprouts, &{SproutTreeWeb.PMS.SproutView.sprout_title(&1), &1.id}), class: "form-control" %>
        <%= error_tag f, :existing_sprout_id %>
      </div>

      <div class="form-group">
        <%= submit "Lägg till som förälder", class: "btn btn-secondary" %>
      </div>
    <% end %>
  <% end %>

  <%= if @sprout_invitation.new_sprout_type == :is_parent do %>
    <p>Du kan lägga till den här växten på två olika vis. <br>Antingen lägger du till den som en ny växt. <br>Eller så lägger du till den här växten som en stickling på en befintlig växt.</p>
    <%= form_for @conn, pms_sprout_invitation_path(@conn, :accept, @sprout_invitation), [method: :post], fn _ -> %>
      <div class="form-group">
        <%= submit "Lägg till som en ny växt", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= form_for @conn, pms_sprout_invitation_path(@conn, :accept_to_existing_sprout, @sprout_invitation), [method: :post], fn f -> %>
      <div class="form-group">
        <%= label f, "Markera som stickling till befintlig växt:", class: "control-label" %>
        <%= select f, :existing_sprout_id, Enum.map(@existing_sprouts, &{SproutTreeWeb.PMS.SproutView.sprout_title(&1), &1.id}), class: "form-control" %>
        <%= error_tag f, :existing_sprout_id %>
      </div>

      <div class="form-group">
        <%= submit "Lägg till som stickling", class: "btn btn-secondary" %>
      </div>
    <% end %>
  <% end %>

<% end %>
